<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header id="header">
		<div class="inner">
			<a href="companyMain.html" class="logo">CBT</a>
			<nav id="nav">
				<a href="#"></a> 
				<a href="co_introduce.html">회사소개</a> 
				<a href="estimate.html">견적서 입력</a> 
				<a href="systemintro.html">시스템 소개</a>
				<a href="consulting.html">상담신청 </a> 
				<a href="accountManage.html">마이페이지</a>
			</nav>
			<nav id="nav2">
				<a href="userMain.html">로그아웃</a>
			</nav>
		</div>
	</header>
</body>
</html>