<!DOCTYPE>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="wrapper"> 
	<div id="content">
		<h2>재직자 테스트 통계</h2>
		<ul id="bar">
			<li id="iphone">
				<div class="top">
					<img src="image/iphone.png" alt="iPhone" />
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>합격자</h3>
						<p>80,1</p>
					</div>
				</div>
			</li>
			<li id="macbook">
				<div class="top">
					<img src="image/macbook.png" alt="MacBook" />
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>불합격자</h3>
						<p>102,6</p>
					</div>
				</div>
			</li>
			<li id="ipod">
				<div class="top">
					<img src="image/ipod.png" alt="iPod" />
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>중도탈락자</h3>
						<p>198,4</p>
					</div>
				</div>
			</li>
			<li id="cinema">
				<div class="top">
					<img src="image/cinema.png" alt="Cinema Display" />
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>미참석자</h3>
						<p>38,2</p>
					</div>
				</div>
			</li>
			<li id="macmini">
				<div class="top">
					<img src="image/macmini.png" alt="Mac Mini" />
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>기타</h3>
						<p>55,6</p>
					</div>
				</div>
			</li>
		</ul>
		<div id="apple">
			<img src="image/apple.png" alt="Apple Inc" />
			<p>Numbers in millions sold<br />*Numbers are fictional</p>
		</div>
	</div>
</div>
</body>
</html>