<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">
	
	<!-- 단건조회 더미 나중에 삭제-->
	<select id="getBoard" resultType="int"> <!-- select경우 resulttype필수 -->
		SELECT 1 from dual
	</select>
	
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 