<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019.06.28 김재용 -->
<!-- candidate 관련 dao 처리 -->
<mapper namespace="candidateDAO">
		<!-- 6/28 candidate 더미 쿼리       김재용 -->
		<select id="selectCandidate" resultType="CandidateVO">
			SELECT 1 FROM DUAL	
			
		</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 