<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019.06.28 김재용 -->
<!-- candidate 관련 dao 처리 -->
<mapper namespace="candidateDAO">
		<!-- 6/28 candidate 더미 쿼리       김재용 -->
		<select id="selectCandidate" resultType="CandidateVO">
			SELECT 1 FROM DUAL
		</select>
		
		<!-- 7/1 candidate Insert     장세준  -->
		<insert id="insertCandidate" parameterType="CandidateVO">
		INSERT INTO TAKER (TAKER_ID
						   , TAKER_NAME
						   , TAKER_INFO
						   , TAKER_EDUCATION
						   , TAKER_EMAIL
						   , TAKER_PASSWORD) 
		VALUES (  #{takerId}
				 ,#{takerName}
				 ,#{takerInfo}
				 ,#{takerEducation}
 				 ,#{takerEmail}
				 ,#{takerPassword} )
		</insert>
		
		<!-- 7/2 	단건 조회 	장세준  -->
		<select id="getCandidate" resultType="CandidateVO">
			SELECT	TAKER_ID
					, TAKER_NAME
					, TAKER_INFO
					, TAKER_EDUCATION
					, TAKER_EMAIL
					, TAKER_PASSWORD
			FROM 	TAKER
			WHERE	TAKER_ID = #{takerId} 
			<!-- AND TAKER_PASSWORD= #{takerPassword} -->
		</select>
		
		<!-- 7/9 	로그인 	장세준  -->
		<select id="candidateLogin" resultType="CandidateVO">
			SELECT	TAKER_ID
					, TAKER_NAME
					, TAKER_INFO
					, TAKER_EDUCATION
					, TAKER_EMAIL
					, TAKER_PASSWORD
			FROM 	TAKER
			WHERE	TAKER_ID = #{takerId} AND TAKER_PASSWORD = #{takerPassword}
			<!-- AND TAKER_PASSWORD= #{takerPassword} -->
		</select>
		
		<!-- 7/2 	응시자 전체 리스트 조회 	장세준  -->
		<select id="getCandidateList" resultType="CandidateVO">
			SELECT	TAKER_ID
					, TAKER_NAME
					, TAKER_INFO
					, TAKER_EDUCATION
					, TAKER_EMAIL
					, TAKER_PASSWORD
			FROM 	TAKER
		</select>
		
		<!-- 7/2 	candidate Update 	장세준  -->
		<update id="updateCandidate">
			UPDATE TAKER 
			<set>	
				<if test="takerInfo != null and takerInfo != ''"> TAKER_INFO = #{takerInfo}</if>
				<if test="takerEmail != null and takerEmail != ''">, TAKER_EMAIL = #{takerEmail}</if>
			</set>
			WHERE TAKER_ID = #{takerId}
		</update>
		
		<!-- 7/2 	candidate delete 	장세준  -->
		<delete id="deleteCandidate" parameterType="CandidateVO">
			DELETE	FROM TAKER
			WHERE TAKER_ID = #{takerId}
		</delete>
		
		<select id="getCount" resultType="int">
			SELECT COUNT(*) FROM TAKER
		</select>
		
		<select id="idcheck" parameterType="String" resultType="Integer">
			SELECT	COUNT(*) FROM TAKER
      		WHERE   TAKER_ID = #{takerId}
		</select>
		
</mapper>
 
 
