<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryDAO">
	<!-- 190703 재홍 CRUD 쿼리 입력 -->
	<!-- 카테고리 등록 -->
	<insert id="insertCategory" parameterType="CategoryVO">
		INSERT INTO CATEGORY (	  CATEGORY_ID
								, MAIN_CATEGORY
								, MIDDLE_CATEGORY
								, SMALL_CATEGORY )
		VALUES (  #{categoryId}
				, #{mainCategory}
				, #{middleCategory}
				, #{smallCategory} )
	</insert>
	
	<!-- 카테고리 수정 -->
	<update id="updateCategory" parameterType="CategoryVO">
		UPDATE CATEGORY SET MAIN_CATEGORY   = #{mainCategory}
						  , MIDDLE_CATEGORY = #{middleCategory}
						  , SMALL_CATEGORY  = #{smallCategory}
		WHERE CATEGORY_ID = #{categoryId}
	</update>
	
	<!-- 카테고리 삭제  -->
	<delete id="deleteCategory" parameterType="CategoryVO">
		DELETE FROM CATEGORY
		WHERE CATEGORY_ID = #{categoryId}
	</delete>
	
	<!-- 카테고리 ID로 조회  -->
	<select id="getCategory">
		SELECT    CATEGORY_ID
				, MAIN_CATEGORY
				, MIDDLE_CATEGORY
				, SMALL_CATEGORY
		FROM CATEGORY
		WHERE CATEGORY_ID = #{categoryId}
	</select>
</mapper>