<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019.06.27 성재민 -->
<!-- 컴퍼니 관련 dao 처리 -->
<mapper namespace="companyDAO">

	<!-- 2019.06.27 성재민 -->
	<!-- 컴퍼니 등록 sql -->
	<!-- 2019.07.02 성재민 -->
	<!-- COMPANY_MANAGER_TELNUM 추가 -->
	<insert id="insertCompany" parameterType="CompanyVO">
		INSERT INTO COMPANY (COMPANY_ID
							,COMPANY_PASSWORD
							,COMPANY_NAME
							,BUSINESS_NUMBER
							,COMPANY_CLASSIFICATION
							,COMPANY_SECTORS
							,COMPANY_CREDIT
							,COMPANY_MANAGER
							,COMPANY_MANAGER_TELNUM)
		VALUES (#{companyId}
				,#{companyPassword}
				,#{companyName}
				,#{businessNumber}
				,#{companyClassification}
				,#{companySectors}
				,#{companyCredit}
				,#{companyManager}
				,#{companyManagerTelNum})
	</insert>	
	
	<!-- 단건 조회  -->
	<!--  "" alias 를 이용하여 소문자로 변경. -->
	<select id="getCompanyID" resultType="CompanyVO">
		SELECT COMPANY_ID
				,COMPANY_PASSWORD
				,COMPANY_NAME 
				,BUSINESS_NUMBER
				,COMPANY_CLASSIFICATION
				,COMPANY_SECTORS
				,COMPANY_CREDIT
				,COMPANY_MANAGER
				,COMPANY_MANAGER_TELNUM
		FROM COMPANY
		WHERE COMPANY_ID = #{companyId}
	</select>
	<select id="getCompanyIDPW" resultType="CompanyVO">
		SELECT COMPANY_ID
				,COMPANY_PASSWORD
				,COMPANY_NAME 
				,BUSINESS_NUMBER
				,COMPANY_CLASSIFICATION
				,COMPANY_SECTORS
				,COMPANY_CREDIT
				,COMPANY_MANAGER
				,COMPANY_MANAGER_TELNUM
		FROM COMPANY
		WHERE COMPANY_ID = #{companyId}
		AND COMPANY_PASSWORD = #{companyPassword}
	</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 