<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019.06.27 성재민 -->
<!-- 컴퍼니 관련 dao 처리 -->
<mapper namespace="consultingDAO">

	<!-- 2019.07.08 성재민 -->
	<!-- 비회원이 상담신청을 하는 경우 companyId 값이 없을 수도 있으므로 예외처리 -->
	<!-- 2019.07.03 성재민 -->
	<!-- 컨설팅 등록 sql -->
	<insert id="insertConsulting" parameterType="ConsultingVO">
		INSERT INTO CONSULTING(
			CONSULTING_ID
			,CONSULTING_CONTENTS
			,CONSULTING_DESIRED_DATE
			,CONSULTING_STATE
			,CONSULTING_TITLE
			<if test="companyId != null and companyId != ''">
				,COMPANY_ID
			</if>
			)
		VALUES (
			#{consultingId}
			,#{consultingContents}
			,#{consultingDesiredDate}
			,#{consultingState}
			,#{consultingTitle}
			<if test="companyId != null and companyId != ''">
				,#{companyId}
			</if>
		)
	</insert>

	<!-- if 태그 안에서 부등호 처리 법 -->
	<!-- 부등호 <, 			대체식 lt 	예제  <if test="logCount lt 0"> -->
	<!-- 부등호 >, 			대체식 gt 	예제  <if test="logCount gt 0"> -->
	<!-- 부등호 <= (또는 =<), 	대체식 lte  	예제  <if test="logCount lte 0"> -->
	<!-- 부등호 >= (또는 =>), 	대체식 gte 	예제  <if test="logCount gte 0"> -->
	<!-- 2019.07.03 성재민 -->
	<!-- 컨설팅 정보 수정 -->
	<update id="updateConsulting" parameterType="ConsultingVO">
		UPDATE CONSULTING
		<set>
			<if test="consultingDate != null">
				CONSULTING_DATE = #{consultingDate}
			</if>
			<if test="consultingRemarks != null and consultingRemarks != ''">
				,CONSULTING_REMARKS = #{consultingRemarks}
			</if>
			<if test="companyId != null and companyId != '' ">
				,COMPANY_ID = #{companyId}
			</if>
			<if test="consultingContents != null and consultingContents != ''">
				,CONSULTING_CONTENTS = #{consultingContents}
			</if>
			<if test="consultingDesiredDate != null"> 
				,CONSULTING_DESIRED_DATE = #{consultingDesiredDate}
			</if>
			<if test="consultingState != null and consultingState gte 0"> 
				,CONSULTING_STATE = #{consultingState}
			</if>
			<if test="consultingTitle != null and consultingTitle != ''">
				,CONSULTING_TITLE = #{consultingTitle}
			</if>
		</set>
		<where>
			CONSULTING_ID = #{consultingId}
		</where>
	</update>

	<delete id="deleteConsulting" parameterType="ConsultingVO">
		DELETE FROM CONSULTING
		<where>
			CONSULTING_ID = #{consultingId}
		</where>
	</delete>

	<!-- 단건 조회 -->
 	<select id="getConsulting" resultType="ConsultingVO">
 		SELECT CONSULTING_ID
				,COMPANY_ID
				,CONSULTING_CONTENTS
				,CONSULTING_DESIRED_DATE
				,CONSULTING_DATE
				,CONSULTING_REMARKS
				,CONSULTING_STATE
				,CONSULTING_TITLE
		FROM CONSULTING
		WHERE CONSULTING_ID = #{consultingId}
	</select>
	
	<!-- 전체 조회 -->
	<select id="getConsultingList" resultType="ConsultingVO">
		SELECT CONSULTING_ID
				,COMPANY_ID
				,CONSULTING_CONTENTS
				,CONSULTING_DESIRED_DATE
				,CONSULTING_DATE
				,CONSULTING_REMARKS
				,CONSULTING_STATE
				,CONSULTING_TITLE
		FROM CONSULTING
	</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 