<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2019.06.27 성재민 -->
<!-- 컴퍼니 관련 dao 처리 -->
<mapper namespace="consultingDAO">

	<!-- 2019.07.03 성재민 -->
	<!-- 컨설팅 등록 sql -->
	<insert id="insertConsulting" parameterType="ConsultingVO">
		INSERT INTO CONSULTING
		(CONSULTING_ID
		,COMPANY_ID
		,CONSULTING_CONTENTS
		,CONSULTING_DESIRED_DATE
		,CONSULTING_DATE
		,CONSULTING_REMARKS)
		VALUES (#{consultingId}
		,#{companyId}
		,#{consultingContents}
		,#{consultingDesiredDate}
		,#{consultingDate}
		,#{consultingRemarks})
	</insert>

	<!-- 2019.07.03 성재민 -->
	<!-- 컨설팅 정보 수정 -->
	<update id="updateConsulting" parameterType="ConsultingVO">
		UPDATE CONSULTING
		<set>
			<if test="companyId != null and companyId != '' ">
				COMPANY_ID = #{companyId},
			</if>
			<if test="consultingContents != null and consultingContents != '' ">
				CONSULTING_CONTENTS = #{consultingContents},
			</if>
			<if test="consultingDesiredDate != null"> 
				CONSULTING_DESIRED_DATE = #{consultingDesiredDate},
			</if>
			<if test="consultingDate != null"> 
				CONSULTING_DATE = #{consultingDate},
			</if>
			<if test="consultingRemarks != null and consultingRemarks != '' ">
				CONSULTING_REMARKS = #{consultingRemarks},
			</if>
		</set>
		<where>
			CONSULTING_ID = #{consultingId}
		</where>
	</update>

	<delete id="deleteConsulting" parameterType="ConsultingVO">
		DELETE FROM CONSULTING
		<where>
			CONSULTING_ID = #{consultingId}
		</where>
	</delete>

	<!-- 단건 조회 -->
 	<select id="getConsulting" resultType="ConsultingVO">
 		SELECT CONSULTING_ID
				,COMPANY_ID
				,CONSULTING_CONTENTS
				,CONSULTING_DESIRED_DATE
				,CONSULTING_DATE
				,CONSULTING_REMARKS
		FROM CONSULTING
		WHERE CONSULTING_ID = #{consultingId}
	</select>
	
	<!-- 전체 조회 -->
	<select id="getConsultingList" resultType="ConsultingVO">
		SELECT CONSULTING_ID
				,COMPANY_ID
				,CONSULTING_CONTENTS
				,CONSULTING_DESIRED_DATE
				,CONSULTING_DATE
				,CONSULTING_REMARKS
		FROM CONSULTING
	</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 