<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EstimateDAO">
	<!-- 190703 재홍 CRUD 쿼리 입력 -->
	<!-- 의뢰 등록 -->
	<insert id="insertEstimate" parameterType="EstimateVO">
		INSERT INTO ESTIMATE (	  ESTIMATE_ID
								, ESTIMATE_PRICE
								, REQUEST_DAY
								, TRADE_PROGRESS
								, REMARKS
								, APPLICANTS
								
								, LEVEL_OF_DIFFICULTY
								, CANDIDATE
								, APPLY_PURPOSE
								, EXAM_DATE
								, CATEGORY_ID
								
								, EXAM_CLASSFICATION
								, COMPANY_ID
								, EXAM_COUNT
								, EXAM_INTERVAL
								, ESTIMATE_NAME )
		VALUES ( #{estimateId}
				,#{estimatePrice}
				,SYSDATE <!-- REQUEST_DAY -->
				,#{tradeProgress}
				,#{remarks}
				,#{applicants}
				
				,#{levelOfDifficulty}
				,#{candidate}
				,#{applyPurpose}
				,#{examDate}
				,#{categoryId}
				
				,#{examClassfication}
				,#{companyId}
				,#{examCount}
				,#{examInterval}
				,#{estimateName})
	</insert>
	
	<!-- 의뢰 수정 -->
	<update id="updateEstimate" parameterType="EstimateVO">
		UPDATE ESTIMATE SET ESTIMATE_ID=8
		WHERE ESTIMATE_ID = 6
	</update>
	
	<!-- 의뢰 ID로 삭제 -->
	<delete id="deleteEstimate" parameterType="EstimateVO">
		DELETE FROM ESTIMATE
		WHERE ESTIMATE_ID = #{estimateId}
	</delete>
	
	<!-- 의뢰목록 ID로 조회 -->
	<select id="getEstimate" resultType="EstimateVO">
		SELECT 	  ESTIMATE_ID
				, ESTIMATE_NAME
				, ESTIMATE_PRICE
				, REQUEST_DAY
				, TRADE_PROGRESS
				, REMARKS
				, APPLICANTS
				, LEVEL_OF_DIFFICULTY
				, CANDIDATE
				, APPLY_PURPOSE
				, EXAM_DATE
				, CATEGORY_ID
				, EXAM_CLASSFICATION
				, COMPANY_ID
				, EXAM_COUNT
				, EXAM_INTERVAL 
				
		FROM ESTIMATE
		WHERE ESTIMATE_ID = #{estimateId}
		
	</select>
	
	<!-- 의뢰목록 전체 조회 -->
		<select id="getEstimateList" resultType="EstimateVO">
		SELECT 	  ESTIMATE_ID
				, ESTIMATE_NAME
				, ESTIMATE_PRICE
				, REQUEST_DAY
				, TRADE_PROGRESS
				, REMARKS
				, APPLICANTS
				, LEVEL_OF_DIFFICULTY
				, CANDIDATE
				, APPLY_PURPOSE
				, EXAM_DATE
				, CATEGORY_ID
				, EXAM_CLASSFICATION
				, COMPANY_ID
				, EXAM_COUNT
				, EXAM_INTERVAL
		FROM ESTIMATE
		ORDER BY REQUEST_DAY DESC
	</select>
</mapper>