<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExamDAO">
	<!-- 190703 재홍 CRUD 쿼리 입력 -->
	<!-- 시험 등록 -->
	<!-- 2019.07.09 성재민 -->
	<!-- #{disclosureStatus} #{setExamStatus} 추가 -->
	<!-- 2019.07.11 성재민 -->
	<!-- 입력시 id 값은 시퀀스로 지정 -->
	<!-- 2019.07.11 성재민 -->
	<!-- 시험 설명(심플(EXAM_DESCRIPTION_SIMPLE), 디테일(EXAM_DESCRIPTION_DETAIL) ) 추가 -->
	<insert id="insertExam" parameterType="ExamVO">
		INSERT INTO EXAM (	
							EXAM_ID
						,	EXAM_START_TIME
						,	EXAM_END_TIME
						,	QUESTION_QUANTITY
						,	ESTIMATE_ID
						,	NUMBER_OF_TIMES
						,	PASSING_SCORE
						,	APPLICANTS
						,	EXAM_NAME
						,	EXAM_STATUS				<!-- 시험상태 -->
						,	DISCLOSURE_STATUS		<!-- 공개여부 -->
						,	SET_EXAM_STATUS			<!-- 응시상태 -->
						,	EXAM_DESCRIPTION_SIMPLE
						,	EXAM_DESCRIPTION_DETAIL
					)
		VALUES ( 
					EXAM_ID_SEQ.NEXTVAL
				,	TO_DATE(#{examStartTime}, 'YYYY-MM-DD HH24:MI:SS')
				,	TO_DATE(#{examEndTime}, 'YYYY-MM-DD HH24:MI:SS')
				,	#{questionQuantity}
				,	#{estimateId}
				,	#{numberOfTimes}
				,	#{passingScore}
				,	#{applicants}
				,	#{examName}
				,	'D1'
				,	#{disclosureStatus} 
				,	'I1'
				,	#{examDescriptionSimple} 
				,	#{examDescriptionDetail} 
			)
	</insert>
	
	<!-- 2019.07.09 성재민 -->
	<!-- 업데이트 추가 -->
	<update id="updateExam" parameterType="ExamVO">
		UPDATE EXAM
		<set>
			<if test="examStartTime != null and examStartTime != '' ">	
			 EXAM_START_TIME   			= TO_DATE(#{examStartTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="examEndTime != null and examEndTime != '' ">	
			, EXAM_END_TIME				= TO_DATE(#{examEndTime}, 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="questionQuantity != null and questionQuantity != '' ">
			, QUESTION_QUANTITY 		= #{questionQuantity}
			</if>
			<if test="numberOfTimes != null and numberOfTimes != '' ">
			, NUMBER_OF_TIMES 			= #{numberOfTimes}
			</if>
			<if test="passingScore != null and passingScore != '' ">
			, PASSING_SCORE 			= #{passingScore}
			</if>
			<if test="applicants != null and applicants != '' ">
			, APPLICANTS 		= #{applicants}
			</if>
			<if test="examStatus != null and examStatus != '' ">
			, EXAM_STATUS 				= #{examStatus}
			</if>
			<if test="disclosureStatus != null and disclosureStatus != '' ">
			, DISCLOSURE_STATUS 		= #{disclosureStatus}
			</if>
			<if test="setExamStatus != null and setExamStatus != '' ">
			, SET_EXAM_STATUS 			= #{setExamStatus}
			</if>
			<if test="examDescriptionSimple != null and examDescriptionSimple != '' ">
			, EXAM_DESCRIPTION_SIMPLE 	= #{examDescriptionSimple}
			</if>
			<if test="examDescriptionDetail != null and examDescriptionDetail != '' ">
			, EXAM_DESCRIPTION_DETAIL 	= #{examDescriptionDetail}
			</if>
			
		</set>
		<where>
			EXAM_ID = #{examId}
		</where>
	</update>
	
	<!-- 2019.07.09 성재민 -->
	<!-- 삭제 추가 -->
	<delete id="deleteExam" parameterType="ExamVO">
		DELETE FROM EXAM
		<where>
			EXAM_ID = #{examId}
		</where>
	</delete>
	
	<!-- 2019.07.09 성재민 -->
	<!-- select 추가 -->
	<!-- 2019.07.11 성재민 -->
	<!-- vo 객체의 변수타입이 문자열로 변경되어 TO_CHAR 로 변환 추가 -->
	<select id="getExam" resultType="ExamVO">
		SELECT 
				EXAM_ID
			,	TO_CHAR(EXAM_START_TIME, 'YYYY-MM-DD HH24:MI')	"examStartTime"
			,	TO_CHAR(EXAM_END_TIME, 'YYYY-MM-DD HH24:MI')	"examEndTime"
			,	QUESTION_QUANTITY
			,	ESTIMATE_ID
			,	NUMBER_OF_TIMES
			,	PASSING_SCORE
			,	APPLICANTS
			,	EXAM_NAME
			,	EXAM_STATUS
			,	DISCLOSURE_STATUS
			,	SET_EXAM_STATUS
			,	EXAM_DESCRIPTION_SIMPLE
			,	EXAM_DESCRIPTION_DETAIL
		FROM EXAM
		<where>
			EXAM_ID = #{examId}
		</where>
		ORDER BY EXAM_ID
		
	</select>
	
	<!-- 2019.07.11 성재민 -->
	<!-- vo 객체의 변수타입이 문자열로 변경되어 TO_CHAR 로 변환 추가 -->
	<select id="getExamList" parameterType="CompanyVO" resultType="ExamVO">
		SELECT 
				EXAM_ID
			,	TO_CHAR(EXAM_START_TIME, 'YYYY-MM-DD HH24:MI')	"examStartTime"
			,	TO_CHAR(EXAM_END_TIME, 'YYYY-MM-DD HH24:MI')	"examEndTime"
			,	QUESTION_QUANTITY
			,	EXAM.ESTIMATE_ID
			,	NUMBER_OF_TIMES
			,	PASSING_SCORE
			,	APPLICANTS
			,	EXAM_NAME
			,	EXAM_STATUS
			,	DISCLOSURE_STATUS
			,	SET_EXAM_STATUS
			,	EXAM_DESCRIPTION_SIMPLE
			,	EXAM_DESCRIPTION_DETAIL
		FROM EXAM
		JOIN ESTIMATE
		ON EXAM.ESTIMATE_ID = ESTIMATE.ESTIMATE_ID
		<where>
			ESTIMATE.COMPANY_ID = #{companyId}
		</where>
	</select>
	<select id="getExamCount" resultType="int">
		SELECT COUNT(*)
		FROM EXAM
	</select>
	
	
</mapper>