<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ManagerDAO">
	<insert id="insertManager" parameterType="ManagerVO">
		INSERT INTO MANAGER(
							MANAGER_ID
							, MANAGER_PASSWORD
							, MANAGER_NAME)
		VALUES	(#{managerId}
				,#{managerPassword}
				,#{managerName})
	</insert>
	
	<select id="getManager" resultType="ManagerVO">
		SELECT 
				  MANAGER_ID
				, MANAGER_PASSWORD
				, MANAGER_NAME
		FROM MANAGER		
		WHERE MANAGER_ID = #{managerId}
	
	</select>
	
	<select id="getManagerList" resultType="ManagerVO">
		SELECT 
				  MANAGER_ID
				, MANAGER_PASSWORD
				, MANAGER_NAME
		FROM MANAGER		
	
	</select>
	
	<update id="updateManager">
		UPDATE MANAGER
		<set>
			<if test="managerPassword != null"> MANAGER_PASSWORD = #{managerPassword} ,</if>
			<if test="managerName != null"> MANAGER_NAME = #{managerName} </if>
		</set>
		WHERE MANAGER_ID = #{managerId}
	</update>

	<delete id="deleteManager" parameterType="ManagerVO">
		DELETE FROM MANAGER
		<where>
			<choose>
				<when test="mngList != null and mngList.length>0">
					MANAGER_ID in
					<foreach collection="mngList"
							 open="(" close=")" separator=","
							 item="item">
							 #{item}
					</foreach>
				</when>
				<otherwise>
					MANAGER_ID = #{managerId}
				</otherwise>
			</choose>
		</where>
	</delete>
	
	<!-- 7/5 재용 추가 -->
	<select id="getManagerUserAccountView" parameterType="ManagerTakerVO" resultType="ManagerTakerVO">
		SELECT 	TAKER_ID,
				TAKER_NAME,
				TAKER_INFO,
				TAKER_EDUCATION,
				TAKER_EMAIL,
				TAKER_PASSWORD
		FROM	TAKER
		WHERE	TAKER_ID = #{takerId}
	</select>
	
</mapper>