<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setExamQuestionDAO">
	<insert id="insertSetExamQuestion" parameterType="SetExamQuestionVO">
		INSERT INTO SETEXAMQUESTION
		(	EXAM_ID
			,QUESTION_ID
			,SET_EXAM_QUESTION_ID
			,POINT )
		VALUES(	#{examId}
				,#{questionId}
				,#{setExamQuestionId}
				,#{point} )
	</insert>
	
	<!-- 관리자용 출제 리스트 -->
	<select id="getSetExamQuestionList" resultType="SetExamQuestionVO">
		SELECT 	
			EXAM_ID
			,QUESTION_ID
			,SET_EXAM_QUESTION_ID
			,POINT
		FROM SET_EXAM_QUESTION
	</select>
</mapper>

