<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="takeExamDAO">

	<!-- -->

	<select id="getExamList" resultType="TakeExamVO">
	SELECT B.* FROM( SELECT A.*, ROWNUM RN FROM (
		SELECT 
				TAKE_EXAM_ID
				,TAKE_EXAM_DATE
				,SCORE
				,EXAM_ID
				,TAKER_ID
		FROM 	TAKE_EXAM
		<where>
		TAKER_ID = #{takerId}
		</where>
		ORDER BY TAKE_EXAM_DATE DESC
	) A ) B
	<where>
			RN BETWEEN #{start} AND #{end}
	</where>
		
	</select>
	
	
	<select id="getExamCount" resultType="int">
		SELECT 	COUNT(*)
		FROM 	TAKE_EXAM
	</select>
	
	
</mapper>